---
const { frontmatter } = Astro.props;
---

<html lang="en" class="text-lg">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>
      {`${frontmatter.title} | odd.voyage`}
    </title>
  </head>
  <body class="bg-paper">
    <div class="max-w-screen-sm m-auto">
      <div class="w-full text-center text-lg p-2">odd voyage</div>
      <iframe
        class="w-full aspect-video sticky top-0"
        src={frontmatter.videoUrl}
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen></iframe>
      <div class="p-4 text-center">
        <p class="text-lg">{frontmatter.songTitle}</p>
        <p>{frontmatter.artist}</p>
        <br />
        <slot />
      </div>
    </div>
  </body>
</html>
